%h1 SCORES INDEX
%div=link_to "new score", new_score_path
%h2 Here is a list of scores
-@scores.each do |score|
  %h3 Strikes: 
  %p=score.strike
  %h3 Spares:
  %p=score.spare
  %h3 Total:
  %p=score.total